/* These are fixes to make the markup look nice, nothing to do with the themes*/
#elements-content2 {
	width: 100%;
	overflow-y: scroll;
	height: 100%;
	margin: 0;
	padding: 0;}
	
.webkit-html-js-node, .webkit-html-css-node {
	white-space: pre-wrap;
	left: -95px;
	position: relative;
}

.elHov {
	outline: 1px solid red;}
	
	
.editor {
	position: fixed;
	width: 250px;
	height: 100%;
	right: 0;
	z-index: 99;
	background: #fff;
	border-left: 1px solid #BDBDBD;
	box-shadow: 0 0 10px #ccc;
	}
	
	
	.editor h3 {
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 243, 243)), color-stop(0.05, rgb(243, 243, 243)), color-stop(0.05, rgb(230, 230, 230)), to(rgb(209, 209, 209)));
		height: 20px;
		padding: 0 5px;
		border-top: 1px solid #BDBDBD;
		border-bottom: 1px solid #BDBDBD;
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
		color: #6E6E6E;
		text-shadow: white 0 1px 0;
		-webkit-background-origin: padding;
		-webkit-background-clip: padding;
		font-family: Lucida Grande, sans-serif;
		margin: 0 0 10px 0;
	}
	
	.element {
		font-family: monospace, Courier;
		height:19px;
		font-size: 11px;
		
		overflow: hidden;}

	.element ul {
		margin:0;
		padding: 20px 5px;
		float: left;
	}
		.element li {
			list-style-type: none;

		}

		.element label {
			color: #C80000;
			margin-right:5px;
		}

	.element input {
		padding: 3px;
		border: 1px solid #ccc;
		width: 100px;
	}

	.addStyle {
		clear: both;
		float: left;
		margin:5px;
	}

.overlay {
	position: absolute;
	top: 0;
	left; 0;
	width: 100%;
	height: 100%;
	z-index: 97;
	display:none;
}
	.overlayInner:after {
		width: 498px;
		height: 698px;
		border: 1px solid #BDBDBD;
		display: block;
		content: ""; 
		top:0;
		left: 0;
		position: absolute;
		border-radius: 4px;
		z-index: 98;
	}


	.overlayInner {
		width: 500px;
		height: 700px;
		margin:20px;
		background: #fff;
		padding:20px;
		border: 1px solid #fff;
		box-shadow: 0 0 20px #BDBDBD;
		margin-top: 20px;
		border-radius: 4px;
		position: relative;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 243, 243)),  color-stop(0.05, rgb(230, 230, 230)), to(rgb(209, 209, 209)));
		z-index: 100;b
	}

	.overlayInner textarea {
		width: 400px;
		height: 400px;
	}