/* These are fixes to make the markup look nice, nothing to do with the themes*/
#elements-content {
	width: 100%;}
.webkit-html-js-node, .webkit-html-css-node {
	white-space: pre-wrap;
	left: -95px;
	position: relative;
}

.elHov {
	outline: 1px solid red;}
	
	
.editor {
	position: fixed;
	top: 15px;
	right: 15px;
	width: 250px;
	height: 300px;
	z-index: 99;
	background: #fff;
	border: 2px solid red;}