/*******************************************************/
/* Darcy CSS
/*******************************************************/		
	
	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
	audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
	audio:not([controls]) { display: none; }
	[hidden] { display: none; }
	
	html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
	body { margin: 0; font-size: 13px; line-height: 1.231; }
	body, button, input, select, textarea { font-family: sans-serif; color: #222; }
	
	::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
	::selection { background: #fe57a1; color: #fff; text-shadow: none; }
	
	a { color: #00e; }
	a:visited { color: #551a8b; }
	a:hover { color: #06e; }
	a:focus { outline: thin dotted; }
	a:hover, a:active { outline: 0; }
	
	abbr[title] { border-bottom: 1px dotted; }
	b, strong { font-weight: bold; }
	blockquote { margin: 1em 40px; }
	dfn { font-style: italic; }
	hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
	ins { background: #ff9; color: #000; text-decoration: none; }
	mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
	pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
	pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
	q { quotes: none; }
	q:before, q:after { content: ""; content: none; }
	small { font-size: 85%; }
	sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }
	ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
	dd { margin: 0 0 0 40px; }
	nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
	img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
	svg:not(:root) { overflow: hidden; }
	figure { margin: 0; }
	
	form { margin: 0; }
	fieldset { border: 0; margin: 0; padding: 0; }
	label { cursor: pointer; }
	legend { border: 0; *margin-left: -7px; padding: 0; }
	button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
	button, input { line-height: normal; *overflow: visible; }
	table button, table input { *overflow: auto; }
	button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
	input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
	input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
	input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
	textarea { overflow: auto; vertical-align: top; resize: vertical; }
	input:valid, textarea:valid {  }
	input:invalid, textarea:invalid { background-color: #f0dddd; }
	
	table { border-collapse: collapse; border-spacing: 0; }
	td { vertical-align: top; }
	
	a.btn, a.btn:active {
		color: #666;
		background: ;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #ccc;
		padding: 5px;
		text-decoration: none;
		text-shadow: 0 0 1px #fff;
	}
	
	a.btn:hover {
		color: #000;
	}
	
	.alignCenter {
		margin: 0 auto;
		text-align: center;
	}
	
	.alignLeft {
		float: left;
	}
	
	.alignRight {
		float: right;
	}
	
	.clearBoth {
		width: 100%
		clear: both;
	}
	
	.arrow {
		background: transparent url(../images/arrow.png) no-repeat 0 0;
		display: inline-block;
		overflow: hidden;
		height: 1px;
		width: 1px;
		padding: 14px 0 0 14px;
	}
	
	.arrow.down {
		background: transparent url(../images/arrow.png) no-repeat 0 14px;
	}
	
	
	#elements-content2 {
		display: block;
		float: left;
	}
	
	.editor {
		overflow-y: scroll !important;
		width: 30%;
		height: 100%;
		display: block;
		float: right;
		right: 0;
		z-index: 99;
		background: #fff;
		border-left: 1px solid #BDBDBD;
		box-shadow: 0 0 10px #ccc;
	}
	
	.editor::-webkit-scrollbar {
		background: none;
	}	
	
	.editor::-webkit-scrollbar-track {
		background: none;
	}
	
	.editor::-webkit-scrollbar-track-piece {
	    display: block;
	    width: 5px;
	    height: 10px;
	    background: #efefef;
	    -webkit-border-radius: 10px;
	}
		
	.editor header {
		padding: 2.5%;
	}
	
	.logo {
		background: transparent url(../images/logo.png) no-repeat 5px 5px;
		height: 1px;
		width: 1px;
		padding: 35px 0 0 155px;
		margin: 10px auto 20px;
		overflow: hidden;
		display: block;
	}
	
	

/*******************************************************/
/* Old CSS
/*******************************************************/	
	
/* These are fixes to make the markup look nice, nothing to do with the themes*/
#elements-content2 {
	width: 70%;
	overflow: auto;
	height: 100%;
	margin: 0;
	padding: 0;}
	
.webkit-html-js-node, .webkit-html-css-node {
	white-space: pre-wrap;
	left: -95px;
	position: relative;
}

.elHov {
	outline: 1px solid red;}	

	
	.editor h3 {
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 243, 243)), color-stop(0.05, rgb(243, 243, 243)), color-stop(0.05, rgb(230, 230, 230)), to(rgb(209, 209, 209)));
		height: 20px;
		padding: 0 5px;
		border-top: 1px solid #BDBDBD;
		border-bottom: 1px solid #BDBDBD;
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
		color: #6E6E6E;
		text-shadow: white 0 1px 0;
		-webkit-background-origin: padding;
		-webkit-background-clip: padding;
		font-family: Lucida Grande, sans-serif;
		margin: 0 0 10px 0;
	}
	
	.element {
		font-family: monospace, Courier;
		height:19px;
		font-size: 11px;
		
		overflow: hidden;}

	.element ul {
		margin:0;
		padding: 20px 10px;
		float: left;
	}
		.element li {
			list-style-type: none;

		}

		.element label {
			color: #C80000;
			margin-right:5px;
		}

	.element input {
		padding: 3px;
		border: 1px solid #ccc;
		width: 100px;
	}

	.addStyle {
		clear: both;
		float: left;
		margin:5px;
	}

.overlay {
	position: absolute;
	top: 0;
	left; 0;
	width: 100%;
	height: 100%;
	z-index: 97;
	display:none;
}
	.overlayInner:after {
		width: 498px;
		height: 698px;
		border: 1px solid #BDBDBD;
		display: block;
		content: ""; 
		top:0;
		left: 0;
		position: absolute;
		border-radius: 4px;
		z-index: 98;
	}


	.overlayInner {
		width: 500px;
		height: 700px;
		margin:20px;
		background: #fff;
		padding:20px;
		border: 1px solid #fff;
		box-shadow: 0 0 20px #BDBDBD;
		margin-top: 20px;
		border-radius: 4px;
		position: relative;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 243, 243)),  color-stop(0.05, rgb(230, 230, 230)), to(rgb(209, 209, 209)));
		z-index: 100;b
	}

	.overlayInner textarea {
		width: 400px;
		height: 400px;
	}

.button {
	display: inline-block;
	padding: 4px 8px;
	border: 2px solid green;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
	text-shadow: 1px 1px 1px #000; 
	background: orange;
	color: white;
	text-decoration: none;
	margin: 5px;
	font-weight: bold;
}

#styleInput {
	width: 96%;
	margin: 5px auto;
	padding: 2px;
	height: 20px;
	display: block;
}

#output {
	width: 96%;
	margin: 5px auto;
	padding: 2px;
	height: 100px;
	display: block;
}
