
/*******************************************************/
/*	Reset
/*******************************************************/		
	
	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
	audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
	audio:not([controls]) { display: none; }
	[hidden] { display: none; }
	
	html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
	body { margin: 0; font-size: 13px; line-height: 1.231; }
	body, button, input, select, textarea { font-family: sans-serif; color: #222; }
	
	::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
	::selection { background: #fe57a1; color: #fff; text-shadow: none; }
	
	a { color: #00e; }
	a:visited { color: #551a8b; }
	a:hover { color: #06e; }
	a:focus { outline: thin dotted; }
	a:hover, a:active { outline: 0; }
	
	abbr[title] { border-bottom: 1px dotted; }
	b, strong { font-weight: bold; }
	blockquote { margin: 1em 40px; }
	dfn { font-style: italic; }
	hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
	ins { background: #ff9; color: #000; text-decoration: none; }
	mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
	pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
	pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
	q { quotes: none; }
	q:before, q:after { content: ""; content: none; }
	small { font-size: 85%; }
	sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
	sup { top: -0.5em; }
	sub { bottom: -0.25em; }
	ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
	dd { margin: 0 0 0 40px; }
	nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
	img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
	svg:not(:root) { overflow: hidden; }
	figure { margin: 0; }
	
	form { margin: 0; }
	fieldset { border: 0; margin: 0; padding: 0; }
	label { cursor: pointer; }
	legend { border: 0; *margin-left: -7px; padding: 0; }
	button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
	button, input { line-height: normal; *overflow: visible; }
	table button, table input { *overflow: auto; }
	button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
	input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
	input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
	input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
	button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
	textarea { overflow: auto; vertical-align: top; resize: vertical; }
	input, textarea { font-family: Monaco, 'Lucida Console', monospace; }
	input:valid, textarea:valid {  }
	input:invalid, textarea:invalid { background-color: #f0dddd; }
	
	table { border-collapse: collapse; border-spacing: 0; }
	td { vertical-align: top; }
	
/*******************************************************/		
/*	General Styles
/*******************************************************/
	
	html, body {
		overflow: hidden; 
	}

	a:link, a:active, a:visited {
		color: #1257f9;
	}
	
	a.btn, a.btn:active {
		color: #666;
		background: ;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #ccc;
		padding: 5px;
		text-decoration: none;
		text-shadow: 0 0 1px #fff;
	}
	
	a.btn:hover {
		color: #000;
	}
	
	.alignCenter {
		margin: 0 auto;
		text-align: center;
	}
	
	.alignLeft {
		float: left;
	}
	
	.alignRight {
		float: right;
	}
	
	.clearBoth {
		width: 100%
		clear: both;
	}
	
	.clearfix:before, .clearfix:after { content: ""; display: table; }
	.clearfix:after { clear: both; }
	.clearfix { zoom: 1; }
	
	.arrow {
		background: transparent url(../images/arrow.png) no-repeat 0 0;
		display: inline-block;
		overflow: hidden;
		height: 1px;
		width: 1px;
		padding: 14px 0 0 14px;
	}
	
	.arrow.down {
		background: transparent url(../images/arrow.png) no-repeat 0 14px;
	}
	
	
	#elements-content2 {
		display: block;
		float: left;
	}
	
/*******************************************************/		
/*	Sidebar Container
/*******************************************************/

	.editor {
		xoverflow-y: scroll !important;
		width: 30%;
		height: 100%;
		display: block;
		float: right;
		right: 0;
		z-index: 99;
		background: #fff;
		border-left: 1px solid #BDBDBD;
		box-shadow: 0 0 10px #ccc;
	}
	/*
	.editor::-webkit-scrollbar {
		background: none;
	}	
	
	.editor::-webkit-scrollbar-track {
		background: none;
	}
	
	.editor::-webkit-scrollbar-track-piece {
	    display: block;
	    width: 5px;
	    height: 10px;
	    background: #efefef;
	    -webkit-border-radius: 10px;
	}
	*/
/*******************************************************/		
/*	Sidebar Header
/*******************************************************/	

	.editor header {
		padding: 2.5%;
	}
	
	.logo {
		background: transparent url(../images/logo.png) no-repeat 0 0;
		height: 1px;
		width: 1px;
		padding: 45px 0 0 200px;
		margin: 10px auto 20px;
		overflow: hidden;
		display: block;
	}
	
/*******************************************************/		
/*	Sidebar Element
/*******************************************************/
	
	.editor .element ul {
		width: 100%;
		margin: 0;
		padding: 5px 15px 5px;
		margin: 0 0 5px 0;
		/* border-bottom: 1px solid #f2f2f2; */
	}
	
	.editor .element ul li {
		color: #ccc;
		margin: 0 0 2px 0;
		float: left;
		display: block;
		clear: both;
		width: 100%;
	}
	
	.editor .element ul	li label {
		width: 60%;
		display: block;
		float: left;
		padding: 5px 0 0 0;
	}
	
	.editor .element ul li input {
		width: 34%;
		display: inline-block;
		position: relative;
		float: right;
	}
	
	.editor .element ul li:before  > .colorwheel {
		content: '';
		position: absolute;
		z-index: 999;
		background: red;
		width: 16px;
		height: 16px;
		margin: 0 2px 0 0;
		display: inline-block;
		border: 1px solid #ccc;
	}
	
	.editor .element h3:before {
		content: url(../images/disclosureTriangleSmallRightBlack.png);
		float: left;
		width: 11px;
		height: 12px;
		margin-right: 6px;
		margin-top: 1px;
		display: block;
	}
	
	.editor .element.open h3:before {
		content: url(../images/disclosureTriangleSmallDownBlack.png);
	}
	
	.editor h3 {
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 243, 243)), color-stop(0.05, rgb(243, 243, 243)), color-stop(0.05, rgb(230, 230, 230)), to(rgb(209, 209, 209)));
		height: 20px;
		padding: 0 5px;
		border-top: 1px solid #BDBDBD;
		border-bottom: 1px solid #BDBDBD;
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
		color: #6E6E6E;
		text-shadow: white 0 1px 0;
		-webkit-background-origin: padding;
		-webkit-background-clip: padding;
		font-family: Lucida Grande, sans-serif;
		margin: 0 0 10px 0;
	}
	
	.editor h3:hover {
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(243, 243, 243)), color-stop(0.05, rgb(243, 243, 243)), color-stop(0.05, #dddddd), to(#c0c0c0));
	}
	
	.editor .element {
		height: 20px;
	}
	
	.editor .element.open {
		height: auto;
		border-bottom: 1px solid #F2F2F2;
	}
	
	.editor .addStyle {
		float: right;
		clear: both;
		margin: 5px 15px 15px 0;
		padding: 4px 6px 4px 25px;
		font-family: sans-serif;
		letter-spacing: normal;
		font-size: 11px;
		background: url(../images/icons/add_small.png) no-repeat 5px 3px;
	}

/*******************************************************/		
/*	Sidebar Options
/*******************************************************/
	.editor .options {
		margin: 20px 20px 0;
	}
	
/*******************************************************/		
/*	Sidebar Footer
/*******************************************************/

	.editor footer {
		position: fixed;
		bottom: 0;
	}
	
	.editor footer p {
		margin: 0 auto 5%;
		padding: 5%;
		width: 85%;
		background: #f3f3f3 url(../images/github.png) no-repeat 135% -20%;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #ccc;
		color: #565656;
		text-shadow: 0 1px 0 #ffffff;
		line-height: 18px;
	}
	
/*******************************************************/		
/*	Overlay 	
/*******************************************************/

	.overlay  {	
		display: none;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
		position: absolute; 
	}
	
	.overlay .overlayInner {
		width: 600px;
		margin: 50px auto;
		background: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 20px;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		position: relative;
	}
	
	.overlay .overlayInner textarea {
		width: 560px;
		padding: 20px;
		height: 350px;
		border: 1px solid #ccc;
	}
	
	.overlay .overlayInner .outputWrapper,
	.overlay .overlayInner .xloadWrapper {
		display: none;
	}
	
	.overlay .overlayInner .loadWrapper h2 {
		padding-left: 24px;
		background: url(../images/icons/arrow_up2.png) no-repeat 0 2px;
	}
	
	.overlay .overlayInner h2 {
		font-size: 18px;
		margin: 0 0 15px 0;
		color: #444444;
		font-weight: normal;
	}
	
	.overlay .overlayClose {
		padding: 18px 0 0 18px;
		overflow: hidden;
		height: 1px;
		width: 1px;
		background: url(../images/icons/close.png) no-repeat;
		display: block;
		opacity: 0.45;
		position: absolute;
		right: 20px;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	
	.overlay .overlayClose:hover {
		opacity: 1;
	}
	
	#loadStyle {
		background: url(../images/icons/brush.png) no-repeat 6px 2px;
		padding-left: 30px;
	}
	
/*******************************************************/		
/*	Themes
/*******************************************************/
	
	.themes
{	padding: 0; }
	
	.themes li
{	float: left;
	display: block;
	list-style: none;
	padding: 0;
	width: 250px;
	margin: 0 0 20px 0; }

	.themes li:nth-child(odd)
{	margin-right: 20px;
	clear: left; }
	
	.themes .select
{	display: block;
	height: 200px;
	padding: 10px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 6px solid rgba(255,255,255,1); }
	
	.themes .select.selected
{	background: #fee187;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.25);
	box-shadow: 0 0 3px rgba(0,0,0,0.25); }

	.themes .select img
{	position: relative;
	display: block;
	width: 220px;
	height: auto;
	max-height: 170px;
	margin: 0 auto; }
	
	.themes .author,
	.themes .twitter,
	.themes .download
{	font-size: 12px;
	margin: 15px 10px 0 0;
	float: left; 
	display: block; }

	.themes .author
{	color: #545454;
	margin-left: 30px; }
	
	.themes .twitter
{	text-decoration: none; }
	
	.themes .download
{	display: none; }

/*******************************************************/		
/*	Editor 	
/*******************************************************/

	#elements-content2.elHov {
		border: none;
		outline: none;
	}
	
	#elements-content2 .elHov {
		outline: 1px solid #ccc;
	}





/*******************************************************/
/*******************************************************/
/* Old CSS
/*******************************************************/
/*******************************************************/	
	
/* These are fixes to make the markup look nice, nothing to do with the themes*/
#elements-content2 {
	width: 70%;
	overflow: auto;
	height: 100%;
	margin: 0;
	padding: 0;}
	
.webkit-html-js-node, .webkit-html-css-node {
	white-space: pre-wrap;
	left: -95px;
	position: relative;
}
	
	.element {
		font-family: monospace, Courier;
		height:19px;
		font-size: 11px;
		
		overflow: hidden;}

	.element ul {
		margin:0;
		padding: 20px 10px;
		float: left;
	}
		.element li {
			list-style-type: none;

		}

		.element label {
			color: #C80000;
			margin-right:5px;
		}

	.element input {
		padding: 3px;
		border: 1px solid #ccc;
		width: 100px;
	}

	.addStyle {
		clear: both;
		float: left;
		margin:5px;
	}

.button {
	display: inline-block;
	padding: 4px 8px;
	border: 2px solid green;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
	text-shadow: 1px 1px 1px #000; 
	background: orange;
	color: white;
	text-decoration: none;
	margin: 5px;
	font-weight: bold;
}

#output {
	width: 96%;
	margin: 5px auto;
	padding: 2px;
	height: 100px;
	display: block;
}
